@import "tailwindcss";

@layer base {
  * {
    border-color: #E2E8F0;
  }

  body {
    background-color: #FFFFFF;
    color: #0F172A;
  }
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
